build/	
kern/build
kern/compile/ASST2/
kern/compile/ASST3/
kern/test.txt
user/bin/cat/.depend
user/bin/cat/build
user/bin/cp/.depend
user/bin/cp/build
user/bin/false/.depend
user/bin/false/build
user/bin/ln/.depend
user/bin/ln/build
user/bin/ls/.depend
user/bin/ls/build
user/bin/mkdir/.depend
user/bin/mkdir/build
user/bin/mv/.depend
user/bin/mv/build
user/bin/pwd/.depend
user/bin/pwd/build
user/bin/rm/.depend
user/bin/rm/build
user/bin/rmdir/.depend
user/bin/rmdir/build
user/bin/sh/.depend
user/bin/sh/build
user/bin/sync/.depend
user/bin/sync/build
user/bin/true/.depend
user/bin/true/build
user/build
user/lib/crt0/.depend
user/lib/crt0/build
user/lib/hostcompat/.depend
user/lib/hostcompat/build
user/lib/libc/.depend
user/lib/libc/build
user/my-testbin/example/.depend
user/my-testbin/example/build
user/sbin/dumpsfs/.depend
user/sbin/dumpsfs/build
user/sbin/halt/.depend
user/sbin/halt/build
user/sbin/mksfs/.depend
user/sbin/mksfs/build
user/sbin/poweroff/.depend
user/sbin/poweroff/build
user/sbin/reboot/.depend
user/sbin/reboot/build
user/sbin/sfsck/.depend
user/sbin/sfsck/build
user/testbin/add/.depend
user/testbin/add/build
user/testbin/argtest/.depend
user/testbin/argtest/build
user/testbin/badcall/.depend
user/testbin/badcall/build
user/testbin/bigfile/.depend
user/testbin/bigfile/build
user/testbin/conman/.depend
user/testbin/conman/build
user/testbin/crash/.depend
user/testbin/crash/build
user/testbin/ctest/.depend
user/testbin/ctest/build
user/testbin/dirconc/.depend
user/testbin/dirconc/build
user/testbin/dirseek/.depend
user/testbin/dirseek/build
user/testbin/dirtest/.depend
user/testbin/dirtest/build
user/testbin/f_test/.depend
user/testbin/f_test/build
user/testbin/farm/.depend
user/testbin/farm/build
user/testbin/faulter/.depend
user/testbin/faulter/build
user/testbin/filetest/.depend
user/testbin/filetest/build
user/testbin/forkbomb/.depend
user/testbin/forkbomb/build
user/testbin/forktest/.depend
user/testbin/forktest/build
user/testbin/guzzle/.depend
user/testbin/guzzle/build
user/testbin/hash/.depend
user/testbin/hash/build
user/testbin/hog/.depend
user/testbin/hog/build
user/testbin/huge/.depend
user/testbin/huge/build
user/testbin/kitchen/.depend
user/testbin/kitchen/build
user/testbin/malloctest/.depend
user/testbin/malloctest/build
user/testbin/matmult/.depend
user/testbin/matmult/build
user/testbin/palin/.depend
user/testbin/palin/build
user/testbin/parallelvm/.depend
user/testbin/parallelvm/build
user/testbin/psort/.depend
user/testbin/psort/build
user/testbin/randcall/.depend
user/testbin/randcall/build
user/testbin/randcall/calls.c
user/testbin/rmdirtest/.depend
user/testbin/rmdirtest/build
user/testbin/rmtest/.depend
user/testbin/rmtest/build
user/testbin/sink/.depend
user/testbin/sink/build
user/testbin/sort/.depend
user/testbin/sort/build
user/testbin/sty/.depend
user/testbin/sty/build
user/testbin/tail/.depend
user/testbin/tail/build
user/testbin/tictac/.depend
user/testbin/tictac/build
user/testbin/triplehuge/.depend
user/testbin/triplehuge/build
user/testbin/triplemat/.depend
user/testbin/triplemat/build
user/testbin/triplesort/.depend
user/testbin/triplesort/build
user/testbin/zero/.depend
user/testbin/zero/build
user/uw-testbin/argtest/.depend
user/uw-testbin/argtest/build
user/uw-testbin/argtesttest/.depend
user/uw-testbin/argtesttest/build
user/uw-testbin/conc-io/.depend
user/uw-testbin/conc-io/build
user/uw-testbin/exec-sparse/.depend
user/uw-testbin/exec-sparse/build
user/uw-testbin/files1/.depend
user/uw-testbin/files1/build
user/uw-testbin/files2/.depend
user/uw-testbin/files2/build
user/uw-testbin/hogparty/.depend
user/uw-testbin/hogparty/build
user/uw-testbin/lib/.depend
user/uw-testbin/lib/build
user/uw-testbin/onefork/.depend
user/uw-testbin/onefork/build
user/uw-testbin/pidcheck/.depend
user/uw-testbin/pidcheck/build
user/uw-testbin/romemwrite/.depend
user/uw-testbin/romemwrite/build
user/uw-testbin/segments/.depend
user/uw-testbin/segments/build
user/uw-testbin/sparse/.depend
user/uw-testbin/sparse/build
user/uw-testbin/syscall/.depend
user/uw-testbin/syscall/build
user/uw-testbin/tlbfaulter/.depend
user/uw-testbin/tlbfaulter/build
user/uw-testbin/vm-crash1/.depend
user/uw-testbin/vm-crash1/build
user/uw-testbin/vm-crash2/.depend
user/uw-testbin/vm-crash2/build
user/uw-testbin/vm-crash3/.depend
user/uw-testbin/vm-crash3/build
user/uw-testbin/vm-data1/.depend
user/uw-testbin/vm-data1/build
user/uw-testbin/vm-data2/.depend
user/uw-testbin/vm-data2/build
user/uw-testbin/vm-data3/.depend
user/uw-testbin/vm-data3/build
user/uw-testbin/vm-funcs/.depend
user/uw-testbin/vm-funcs/build
user/uw-testbin/vm-mix1-exec/.depend
user/uw-testbin/vm-mix1-exec/build
user/uw-testbin/vm-mix1-fork/.depend
user/uw-testbin/vm-mix1-fork/build
user/uw-testbin/vm-mix1/.depend
user/uw-testbin/vm-mix1/build
user/uw-testbin/vm-mix2/.depend
user/uw-testbin/vm-mix2/build
user/uw-testbin/vm-stack1/.depend
user/uw-testbin/vm-stack1/build
user/uw-testbin/vm-stack2/.depend
user/uw-testbin/vm-stack2/build
user/uw-testbin/vm-stackgrow/.depend
user/uw-testbin/vm-stackgrow/build
user/uw-testbin/widefork/.depend
user/uw-testbin/widefork/build
user/uw-testbin/writeread/.depend
user/uw-testbin/writeread/build
user/uw-testbin/xhog/.depend
user/uw-testbin/xhog/build
user/uw-testbin/yhog/.depend
user/uw-testbin/yhog/build
user/uw-testbin/zhog/.depend
user/uw-testbin/zhog/build

